<div class="page-header">
  <h3>Profile</h3>
</div>

<%= simple_form_for current_user, as: :profile, url: profile_path, html: { class: 'form-horizontal' } do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <div class="col-xs-4">
      <%= f.input :email, input_html: { disabled: :disabled, class: 'form-control'} %>
      <%= error_span(current_user[:email]) %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-4">
      <%= f.input :name, input_html: { class: 'form-control' } %>
      <%= error_span(current_user[:name]) %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-4">
      <%= f.input :phone, input_html: { class: 'form-control' } %>
      <%= error_span(current_user[:phone]) %>
    </div>
  </div>

  <br>
  <%= f.button :submit, 'Update', class: 'btn-primary', data: {disable_with: 'Updating...'} %>
<% end %>


<br>

Connect your social accounts

<% provider_names = [] %>
<% current_user.authorizations.each do |authorization| %>
  <% provider_names << authorization.provider %>
  <%= link_to (authorization.provider.upcase), 'javascript:void(0)', class: 'btn btn-info active', title: "Already connected" %>
<% end %>

<% (User.omniauth_providers - provider_names).each do |provider| %>
  <%= link_to provider.upcase, omniauth_authorize_path(:user, provider), class: 'btn btn-primary' %>
<% end %>
